h1 {
  border: 5px solid red;
  max-width: 800px;
  margin: 50px;
}

body {
  background-color: darkblue;
}

.gray-border {
  border: 5px solid gray;
}

.background {
  background-color: lightblue;
}

.large {
  padding: 5%;
}